<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <title>{{ title or "Yellow" }}</title>
  <meta name="description" content="{{ description or '' }}" />

  <link rel="stylesheet" href="{{ '/assets/style.css' | url }}">
  <meta name="theme-color" content="#0B0C10">
</head>

<body>
  {% include "topbar.njk" %}

  <main id="top">
    {{ content | safe }}
  </main>

  {% include "theme-panel.njk" %}

  <script src="{{ '/assets/app.js' | url }}"></script>

  {% if extra_js %}
    <script src="{{ ('/assets/' + extra_js) | url }}"></script>
  {% endif %}
</body>
</html>