<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />

<link rel="stylesheet" href="{{ baseUrl }}/assets/style.css">

  <meta name="theme-color" content="#0B0C10">
</head>

<body>
  {% include "topbar.njk" %}

  <main id="top">
    {{ content | safe }}
  </main>

  {% include "theme-panel.njk" %}

    <script src="{{ baseUrl }}/assets/app.js"></script>
    {% if extra_js %}
    <script src="{{ baseUrl }}/assets/{{ extra_js }}"></script>
    {% endif %}
    </html>
